<!-- 

    問題ありコードのためマージしないように

    参考サイト
    https://enlyt.co.jp/blog/node-js-2/

    https://haniwaman.com/ejs/
 -->

<!DOCTYPE html>
<html lang="en">

    <!--headの読み込み  -->
    <%- include('./common/head.ejs); %>

    <body id="page-top">

        <!-- Navigation-->
        <%- include('./common/navigation.ejs); %>

        <!-- headerの読み込み -->
        <%- include('./common/header.ejs); %>

        <!-- Portfolio Section-->
        <%- include('./main/portfolio_section.ejs); %>

        <!-- About Section-->
        <%- include('./main/about_section.ejs); %>

        <!-- Contact Section-->
        <%- include('./main/contact_section.ejs); %>

        <!-- Footer-->
        <%- include('./common/footer.ejs); %>

        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; Your Website 2022</small></div>
        </div>

        <!-- Portfolio Modals-->
        <%- include('./main/portfolio_modal.ejs); %>

        <!-- Bootstrap core JS-->
        <%- include('./common/bootstrap_core.ejs); %>

    </body>
</html>
