<!-- 

    問題ありコードのためマージしないように

    参考サイト
    https://enlyt.co.jp/blog/node-js-2/

    https://haniwaman.com/ejs/
 -->

<!DOCTYPE html>
<html lang="en">

    <!--headの読み込み  -->
    <%- include('./common/head.ejs); %>

    <body id="page-top">

        <!-- Navigation-->
        <%- include('./common/navigation.ejs); %>

        <!-- headerの読み込み -->
        <%- include('./common/header.ejs); %>

        <!-- Portfolio Section-->
        <%- include('./common/portfolio_section.ejs); %>

        <!-- About Section-->
        <%- include('./common/about_section.ejs); %>

        <!-- Contact Section-->
        <%- include('./common/contact_section.ejs); %>

        <!-- Footer-->
        <%- include('./common/footer.ejs); %>

        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright &copy; Your Website 2022</small></div>
        </div>

        <!-- Portfolio Modals-->
        <%- include('./common/portfolio_modal.ejs); %>


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
